<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeakEasy - A Speech Coaching Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>SpeakEasy</h1>
    <h1>Welcome to SpeakEasy</h1>
    <form
      action="{{url_for('upload.upload')}}"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="audio" accept=".mp3" required />
      <button type="submit">Analyze Speech</button>
    </form>
  </body>
</html>
